li{
    list-style: none;
}
.card {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
}
.btn-bar {
    display: flex;
    justify-content: space-between;
}
.btn-success{
    padding: 0 35px;
}